@tailwind components;

@layer components {
  .nav-link {
    @apply flex items-center gap-1 mx-2 text-gray-600 font-semibold;
    @apply dark:text-slate-200;

    &.active,
    &:hover {
      @apply text-primary-600;
      @apply dark:text-primary-400;
    }
  }

  .bg-pattern {
    @apply relative z-0;

    &::before {
      @apply grid-pattern-slate-200/50 absolute inset-0 z-[-1] content-[''];
      @apply dark:grid-pattern-gray-800/50;
      mask-image: linear-gradient(transparent, black, transparent);
    }
  }

  .button {
    @apply relative inline-flex px-4 justify-center items-center border-2 border-solid border-transparent text-xs sm:text-sm transition duration-150 font-semibold overflow-hidden h-12 -tracking-tighter;

    &--rounded {
      @apply rounded-full border-gray-900;
      @apply dark:border-slate-100;
      @apply shadow-[3px_3px_rgb(0_0_0_/_20%)] dark:shadow-[3px_3px_rgb(163_163_163_/_20%)];

      &:hover {
        @apply bg-primary-500 text-gray-900;
      }
    }
  }

  .equalizer {
    @apply h-4 flex items-center gap-2;

    .bar {
      @apply w-1 h-4 rounded-md bg-gray-900;
      @apply dark:bg-white;
      @apply animate-equalize;

      &:nth-child(2) {
        animation-delay: 0.1s;
      }

      &:nth-child(3) {
        animation-delay: 0.2s;
      }

      &:nth-child(4) {
        animation-delay: 0.3s;
      }

      &:nth-child(5) {
        animation-delay: 0.5s;
      }
    }
  }
}
