.article h1, .article h2, .article h3, .article h4, .article h5, .article h6 {
  @apply block relative scroll-mt-[calc(80px+1.125rem)];
}

.article ol {
  @apply block list-none relative;
  counter-reset: start 1;
}

.article ol > li {
  @apply pl-0 m-0;
}

.article ol > li:not(:first-of-type) {
  @apply mt-0.5;
}

.article ol > li::before {
  content: counter(list-item, decimal) '.';
  color: rgb(115, 115, 115) !important;
  font-weight: inherit;
  @apply absolute left-0 flex items-center text-base;
}

.article ol > li > ol > li::before,
.article ol > li > ul > li::before {
  content: counter(list-item, disc);
}

.article a.anchor {
  @apply absolute w-full h-full cursor-pointer -ml-[1.25em] pr-[0.75em] invisible no-underline;
}

.article a.anchor::after {
  @apply no-underline;
  content: '#';
}

.article h1:hover > a.anchor,
.article h1:focus > a.anchor,
.article h2:hover > a.anchor,
.article h2:focus > a.anchor,
.article h3:hover > a.anchor,
.article h3:focus > a.anchor,
.article h4:hover > a.anchor,
.article h4:focus > a.anchor,
.article h5:hover > a.anchor,
.article h5:focus > a.anchor,
.article h6:hover > a.anchor,
.article h6:focus > a.anchor {
  @apply visible;
}

[data-rehype-pretty-code-title] {
  @apply px-5 py-3 font-mono text-sm font-bold text-gray-200 bg-gray-700 rounded-t;
}

[data-rehype-pretty-code-title] + div > pre {
  @apply my-0 rounded-t-none;
}

[data-rehype-pretty-code-fragment] .code-highlight {
  @apply min-w-full;
}

[data-rehype-pretty-code-fragment] .code-line {
  @apply flex w-full;
}

div[data-rehype-pretty-code-fragment] .line {
  @apply w-full border-l-4 border-l-transparent pl-2 pr-3;
}

div[data-rehype-pretty-code-fragment] .line--highlighted {
  @apply border-l-purple-400 bg-gray-100/10;
}

code[data-line-numbers] {
  counter-reset: lineNumber;
}

code[data-line-numbers] .line::before {
  counter-increment: lineNumber;
  content: counter(lineNumber);
  @apply inline-block text-right mr-3 w-4 text-white/20;
}

.lightbox-overlay {
  @apply w-screen;
}

.lightbox-loading,
.lightbox-loading * {
  @apply cursor-wait;
}

.prevent-scroll {
  @apply overflow-y-hidden;
}
