:root {
  --code-bg: #fafafa;
}

.dark {
  --code-bg: #24292E;

  .mdx {
    [data-rehype-pretty-code-fragment] [data-theme="light"] {
      @apply hidden;
    }
  }
}

.light {
  .mdx {
    [data-rehype-pretty-code-fragment] [data-theme="dark"] {
      @apply hidden;
    }
  }
}

.mdx {
  p {
    @apply leading-relaxed;
  }

  blockquote {
    @apply relative border-none my-4 py-1 pl-4;

    &::before {
      @apply absolute top-0 bottom-0 left-0 content-[''] w-1 bg-slate-200 rounded-full;
      @apply dark:bg-gray-800;
    }
  }

  [data-rehype-pretty-code-fragment] {
    [data-rehype-pretty-code-title] {
      @apply p-4 font-mono text-sm rounded-t-xl border-b bg-[var(--code-bg)] border-[#e4e7ea];
      @apply dark:border-[#1c2024];

      & + div > pre {
        @apply rounded-t-none;
      }
    }

    .mdx-code {
      @apply relative overflow-hidden;

      pre {
        @apply bg-[var(--code-bg)] m-0 rounded-xl;

        code {
          @apply grid;

          .code-line {
            @apply grid;
          }

          &[data-line-numbers] {
            counter-reset: lineNumber;

            .line {
              @apply w-full border-l-4 border-l-transparent pl-3 pr-3;

              &.line--highlighted {
                @apply border-l-primary-400 bg-gray-200/40;
                @apply dark:bg-gray-700/50;
              }

              &::before {
                counter-increment: lineNumber;
                content: counter(lineNumber);
                @apply inline-block text-right mr-4 w-4 text-gray-400;
                @apply dark:text-slate-500;
              }
            }
          }
        }
      }

      &__copy-clipboard {
        @apply absolute top-3 right-3 w-8 h-8 bg-white items-center justify-center rounded-lg border border-slate-200 flex;
        @apply dark:text-slate-200 dark:bg-gray-900 dark:border-gray-700;

        &__message {
          @apply pointer-events-none bg-primary-200 text-primary-600 absolute right-10 -mr-1 w-16 translate-x-2 rounded-md px-2 py-1 text-xs font-bold transition opacity-0;
          @apply dark:bg-primary-100;

          &.copied {
            @apply translate-x-0 opacity-100;
          }
        }
      }
    }
  }
}

.lightbox-overlay {
  @apply w-screen;
}

.lightbox-loading,
.lightbox-loading * {
  @apply cursor-wait;
}

.prevent-scroll {
  @apply overflow-y-hidden;
}
