/* Nprogress */

/* Make clicks pass-through */
#nprogress {
  @apply pointer-events-none;
}

#nprogress .bar {
  @apply bg-primary-500 h-1 w-full shadow-none left-0 top-0 fixed z-50;
}

/* Fancy blur effect */
#nprogress .peg {
  @apply block absolute right-0 w-[100px] h-full shadow-none opacity-100;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}
