@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 210 11% 4%;
  }

  .dark {
    --background: 210 11% 4%;
    --foreground: 0 0% 100%;
  }
}

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
    @apply scroll-smooth;
  }
  body {
    @apply antialiased bg-background text-foreground;
  }
}
